.titulo {
    background-color: rgb(14, 231, 217);
}

a {
    display: block;
}

.p1 {
    background-color: rgb(30, 40, 234);
}

.p2:hover {
    color: #DAB3FC;
    background-color: #000000;
}


.Comidas-Favoritas {
    color: rgb(255, 119, 0);
}

.padding {
    background-color: bisque;
    padding: 20px 50px 20px 50px;
}

.bordes1 {
    border-style: double;
    border-color: black;
}

.bordes2 {
    border-style: dashed;
    border-color: black;
}

.ba_img {
    background-image: url("../img/Manos.jpg");
}

.ba_img_min {
    background-image: url("../img/abeja.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.nav_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}

.content_grid{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar_grid{
    grid-column: 3;
    grid-row: 2/ span 3;
}

.footer_grid{
    grid-column-start: 1;
    grid-column-end: 4;
}
