<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>
        Soy yo
    </h1>

     <a href="../index.html">Regresar al CV</a>

    <br>

    <article>
        <p>
            google
        </p>

        <blockquote cite="https://www.google.com">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae cupiditate placeat, 
            aliquam ex minima sequi perspiciatis, molestias beatae ab praesentium at libero quia sed 
            nemo est voluptas dolorum architecto culpa.
        </blockquote>

    </article>

    <img height="200px" title= "Mi foto" src="../assets/img/Perfil.png" 
    alt="1Mi foto"> 

    <br>


    <a download="Perfil" href="../assets/img/Perfil.png"> Descargar Perfil</a>


        <pre>
            <code>
                a+b = ?

                <&nbsp;h1&nbsp;> 😎
            </code>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.&#128512;
                Incidunt cumque a fugiat quidem architecto ullam aut voluptatum
                ducimus, sint hic, doloribus libero laudantium labore quae at illo.
                Dolore, aut eligendi. &#9830; &#9830; &#9830; &#9830;
            </p>

            
        </pre>



</body>
</html>